/Collections/Exercise5HashSet/Exercise5HashSet/nbproject/private/
/Collections/Exercise5HashSet/Exercise5HashSet/build/
/Collections/Exercise5TreeSetComparator/Exercise5TreeSetComparator/nbproject/private/
/Collections/Exercise5TreeSetComparator/Exercise5TreeSetComparator/build/