/Collections/Exercise5HashSet/Exercise5HashSet/nbproject/private/
/Collections/Exercise5HashSet/Exercise5HashSet/build/
/Collections/Exercise5TreeSetComparator/Exercise5TreeSetComparator/nbproject/private/
/Collections/Exercise5TreeSetComparator/Exercise5TreeSetComparator/build/
/Relations/Ejercicio2/build/
/Relations/Ejercicio3/nbproject/private/
/Relations/Ejercicio3/build/